<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Perimeter</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/dash" (click)="setSelected('Dashboard')">Dashboard</a>
      <a mat-list-item routerLink="/smart-home" (click)="setSelected('Smart Home')">Smart Home</a>
      <a mat-list-item routerLink="/photobase" (click)="setSelected('Photobase')">Photo</a>
      <a mat-list-item routerLink="/library" (click)="setSelected('Library')">Library</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{ selected }}</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div>
      <router-outlet></router-outlet>
      <div class="footer">
        <hr>
        <footer>
          <p class="text-right">Perimeter &copy;NaIvS Inc. 2018</p>
        </footer>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
