<div class="wrapper">
  <!--sidebar-->
  <div class="sidebar">
    <div class="sidebar-brand">Perimeter</div>
    <a id="menuItem-0" routerLink="/dash">Dashboard</a>
    <div class="dropdown-container">Smart home
      <a id="menuItem-1" class="sub-menu" routerLink="/smart-home/devices">Devices</a>
      <a id="menuItem-2" class="sub-menu" routerLink="/smart-home/reports">Reports</a>
      <a id="menuItem-3" class="sub-menu" routerLink="/smart-home/settings">Settings</a>
    </div>
    <a id="menuItem-7">Photo</a>
    <a id="menuItem-4">Library</a>
    <a id="menuItem-5">Music</a>
    <a id="menuItem-6">Video</a>
    <a id="menuItem-8">Files</a>
    <a id="menuItem-9">Finance</a>
    <a id="menuItem-11">Events</a>
  </div>

  <!-- content-->
  <div class="content-wrapper">
    <div class="container">
      <router-outlet></router-outlet>
      <hr>
      <footer>
        <p class="text-right">Perimeter &copy;NaIvS Inc. 2018</p>
      </footer>
    </div>
  </div>
</div>
